{{ if eq .chezmoi.os "windows" -}}
// -*-mode:ps1-*- vim:ft=ps1
:: Refer to https://github.com/zhaohongxuan/dotfiles/blob/daa32c398bef80b7b207cdbdf898f617e2c69169/.chezmoiscripts/run_once_200_setup-nvim.sh.tmpl
{{- end }}
